/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
header{
	background-color:#011e29;
	color: white;
	text-align: center;
}
.container{
	display: flex;
	gap:5px;
}
.latest-news-section{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
}
li{
	padding-left: 15px;
}
.box2{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
}
.pictorial-news-section{
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}